// .footer__wrap
//   width: 1080px
//   margin: 0 auto
//   .footer__heading
//     font-size: 2rem
//     float: left
//     background-color: yellow

//   .footer__nav__wrap
//     font-size: 1.5rem
//     .footer__nav__list
//       float: right
//       background-color: pink
//       .footer__nav__item
//         float: left
//         margin: 0.8rem 1rem
  
//   .footer__copyright
//     float: left
//   .footer__social-media
//    .footer__social-media__list
//      float: right
//      .footer__social-media__item
//        float: left
       

.footer__wrap
  width: 1080px
  margin: 30px auto
  .footer__heading
    font-size: 2rem
    // background-color: yellow
    display: inline-block
  .footer__nav__wrap
    font-size: 1.2rem
    float: right
    .footer__nav__list
      margin-left: 6rem
      .footer__nav__item
        float: left
        margin-left: 30px
        