.footer__wrap
  width: 1080px
  margin: 30px auto
  color: $gray-color
  height: 200px
.footer__container
  border-bottom: 1px solid #f1f1f3
  padding-bottom: 2rem
  margin-bottom: 2rem
.footer__heading
  font-size: 2rem
    // background-color: yellow
  display: inline-block
.footer__nav__wrap
  font-size: 1.2rem
  float: right
.footer__nav__list
  margin-left: 6rem
  margin-top: 0.5rem
.footer__nav__item
  float: left
  margin-left: 30px
.footer__copyright
  margin-top: 0.7rem
  display: inline-block
.footer__github
  float: right
  a
    text-decoration: none
.devicon-github-plain
  &:before
    font-size: 2rem
    color: $gray-color
 
  